body{
    display: flex;
    min-height: 100vh;
    line-height: 1.5;
    width: 100%;
    margin: 0;
    padding: 0;
    place-content: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.container{
    background-color: hsl(0, 100%, 74%);
    display: flex;
    padding: 12px;
    align-content: center;
    padding-left: none;
    padding-right: 40px;
    height: 100%;
    margin: 0px;
    color: rgb(241, 238, 238);
    gap: 1.625rem;
}
.Head-line{
    text-align: left;
    padding-left: 170px;
    padding-top: 70px;
    padding-right: 0px;
    justify-content: right;
    gap: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    
}
.signup{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90%;
    gap: 1.5rem;
    padding-right: 170px;
    padding-left: 0px;
    text-align: center;
}

.msg{
    border-radius: 10px;
    background-color: hsl(248, 32%, 49%);
    font-size: 18px;
}

.contact-form{
    border-radius: 10px;
    background-color:rgb(250, 244, 244) ;
    color: hsl(0, 100%, 74%);
    height: 100%;
    gap: 1rem;
    padding: 1.5rem;
}

.input-box{
width: 350px;
position: relative;
font: 1em sans-serif;
text-align: left;
padding-left: 30px;
}

.input-box > input {
    font-weight:  500;
    font-size: .875rem;
    letter-spacing: .25px;

    padding-inline: 19.4px 0;
    padding-block: 15px;
    border: 1px solid  hsl(0, 100%, 74%);
    border-radius: 5px;
    width: 90%;
}

input[type="submit"] {
    border: none;
    background-color:  hsl(154, 59%, 51%);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight:  600;
    font-size: .9375rem;
    color: #f3f1f1;
    padding: 15px 100px;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
    border-radius: 10px;
}

@media (min-width: 75em) {
    body {
        background: url('./images/bg-intro-desktop.png')hsl(0, 100%, 74%);
        background-size: cover;
    }
    .container {
        display: flex;
        max-width: 1100px;
        gap: 2rem;
    }

    .Head-line {
        flex-basis: 50%;
        align-self: center;
        text-align: start;
        gap: 2.125rem;
    }

    

    .signup > form {
        padding: 2.5rem;
    }

    .h1 {
        text-align: start;
        font-size: 3.125rem;
        line-height: 3.4375rem;
        letter-spacing: -.52px;
    }
}

@media (min-width: 50em) {
    body {
        background: url('./images/bg-intro-desktop.png')hsl(0, 100%, 74%);
        background-size: cover;
    }
    .container {
        display: flex;
        max-width: 700px;
        gap: 2rem;
    }

    .Head-line {
        flex-basis: 50%;
        align-self: center;
        text-align: start;
        gap: 2.125rem;
    }

    

    .signup > form {
        padding: 2.5rem;
    }

    .h1 {
        text-align: start;
        font-size: 3.125rem;
        line-height: 3.4375rem;
        letter-spacing: -.52px;
    }
}
