body{
    background-image: linear-gradient(10deg, rgba(228, 54, 54, 0.5)) url('images/img1.jpg')rgba(241, 106, 64, 0.4);
    display: flex;
    min-height: 100vh;
    line-height: 1.5;
    width: 100%;
    margin: 0;
    padding: 0;
    place-content: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.container{
    background-color: hsl(0, 100%, 74%);
    display: flex;
    padding: 12px;
    align-content: center;
    padding-left: none;
    padding-right: 40px;
    height: 100%;
    margin: 0px;
    color: rgb(241, 238, 238);
    gap: 1.625rem;
}
.Head-line{
    text-align: left;
    padding-left: 170px;
    padding-top: 70px;
    padding-right: 0px;
    justify-content: right;
    gap: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    
}
.signup{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    gap: 1rem;
    padding-right: 170px;
    padding-left: 0px;
    text-align: center;
}

.msg{
    border-radius: 10px;
    background-color: hsl(248, 32%, 49%);
    font-size: 18px;
}

.contact-form{
    border-radius: 10px;
    background-color:rgb(250, 244, 244) ;
    color: hsl(0, 100%, 74%);
    height: 100%;
    gap: 1rem;
    padding: 50px 10px 30px 10px;
}
input[type=submit]{
width: 90%;
color: white;
background-color: hsl(135, 86%, 28%);
text-transform: uppercase;
box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
}


input {
    border: 1px solid rgb(207, 203, 203);
    margin-bottom: 30px;
    height: 40px;
    width: 90%;
   
    line-height: 1.7;
    letter-spacing: 1px;
    font-weight:  600;
    font-size: 12px;
    color: #f3f1f1;
    padding: 5px 10px;
    
    border-radius: 10px;
}


@media (max-width: 700px) {
    body {
        background-image: linear-gradient(10deg, rgba(228, 54, 54, 0.5)) url('images/bgmobile.jpg')rgba(231, 125, 83, 0.2);
        background-size: cover;
    }
    .container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        gap: 4rem;
        justify-content: center;
        padding: 10%;
    }

    .Head-line {
        flex-basis: 50%;
        align-self: center;
        text-align: center;
        padding-right: 5%;
        padding-left: 10%;
        gap: 2.125rem;
    }

    

    .signup > form {
        position: relative;
        place-self: center;
        padding: 10%;
    }

    .h1 {
        text-align: start;
        font-size: 3.125rem;
        line-height: 3.4375rem;
        letter-spacing: -.52px;
    }
}
